version: '3.0'

networks:
  app:
    driver: bridge

volumes:
  db-data:
    driver: local
  redis-data:
    driver: local
  kafka-data:
    driver: local
  zookeeper-data:
    driver: local

services:
  generator:
    image: 'ilyalisov/data-generator-microservice:latest'
    networks:
      - app
    depends_on:
      - kafka
    env_file:
      - .env
    ports:
      - '8081:8081'

  analyser:
    image: 'ilyalisov/data-analyser-microservice:latest'
    networks:
      - app
    depends_on:
      - postgres
      - kafka
    env_file:
      - .env
    ports:
      - '8082:8082'

  zookeeper:
    image: 'confluentinc/cp-zookeeper:latest'
    networks:
      - app
    env_file:
      - .env
    ports:
      - '2181:2181'
    volumes:
      - zookeeper-data:/var/lib/zookeeper/data

  kafka:
    image: 'confluentinc/cp-kafka:latest'
    networks:
      - app
    depends_on:
      - zookeeper
    env_file:
      - .env
    ports:
      - '9092:9092'
    volumes:
      - kafka-data:/var/lib/kafka/data

  postgres:
    image: 'postgres:15.1-alpine'
    networks:
      - app
    env_file:
      - .env
    ports:
      - '5437:5432'
    volumes:
      - db-data:/var/lib/postgresql/data

  redis:
    image: redis:7.2-rc-alpine
    restart: always
    container_name: redis
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - redis-data:/data
